.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 10%;
	transition: all 200ms ease-out;
	opacity: 1;
	pointer-events: auto;
}

.modal--closed {
	opacity: 0;
	pointer-events: none;
}

.modal__overlay {
	width: 100%;
	height: 100%;
	background: #16161696;
	position: absolute;
	top: 0;
	left: 0;
}

.modal__container {
	width: 60%;
	padding: 10px;
	background: url(/public/images/note.jpg);
	position: relative;
	z-index: 2;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.644);
}

.modal__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__head .close {
	display: inline-block;
	font-size: 30px;
}

.modal__head .close:hover {
	color: var(--color-pen2);
}

.modal__divider {
	width: 100%;
	height: 1px;
	background: var(--color-pen);
	margin: 10px 0;
}

.modal__confirm {
	text-align: center;
	padding: 20px 0;
}

.modal__confirm .button {
	border-radius: 5px;
	border: 1px var(--color-pen) solid;
	margin-right: 20px;
	width: 170px;
	background: white;
	font-size: 30px;
	transition: all 200ms ease-out;
}

.modal__confirm .button:hover {
	color: white;
}

.modal__confirm .button:last-child {
	margin-right: 0;
}

.modal__confirm .button--yes:hover {
	background: var(--color-pen-green);
}

.modal__confirm .button--no:hover {
	background: var(--color-pen-red);
}

.modal__add {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__add .input {
	margin-bottom: 10px;
	border: 1px var(--color-pen) solid;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

.modal__add .textarea {
	height: 150px;
}

.modal__add .submit {
	width: 200px;
	font-size: 30px;
	transition: all 200ms ease-out;
	border-radius: 3px;
	border: 1px var(--color-pen) solid;
	background: white;
}

.modal__add .submit:hover {
	color: white;
	background: var(--color-pen);
}

.modal__add .error {
	color: var(--color-pen-red);
	font-weight: bold;
	margin-top: 20px;
}

@media only screen and (max-width: 700px) {
	.modal__container {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.modal {
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 500px) {
	.modal__container {
		width: 100%;
		height: 100%;
	}

	.modal__confirm {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.modal__confirm .button {
		margin-bottom: 20px;
		margin-right: 0;
	}

	.modal__confirm .button:last-child {
		margin-bottom: 0;
	}
}
