.notebook {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100vh;
	margin-left: 10%;
	padding: 0 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.notebook__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.notebook__title {
	text-decoration: underline;
	font-size: 60px;
	transform: rotate(-2deg);
}

.notebook__remaining {
	font-size: 25px;
	border: 5px var(--color-pen) solid;
	padding: 1px 10px;
	border-radius: 5px;
}
